name: BuildContainerImage

on:
  push:
    branches: 
      - 'master'
      - 'release-*'
    tags: 
      - 'v*'

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    env:
      GO111MODULE: on
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v6
        with:
          platforms: all

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v6
        
      - name: Build docker images
        if: github.event_name == 'push'
        run: |
          TAG="${GITHUB_REF#refs/*/}" make container-cross
